Build a RESTful service that extracts expense date from a receipt. Please feel free to use any language and framework of your choice. Deploy the service on any cloud platform like Heroku/AWS/GCP. The service should contain one API which has the following contract:

Request:
POST /extract_date

Payload:
{“base_64_image_content”: <base_64_image_content>}

Response:
If date is present:
{“date”: “YYYY-MM-DD”}
If date is not present:
{“date”: null}

Calculate the accuracy of the service against the sample receipts dataset given. This can be calculated as follows:

accuracy = (number of receipts for which the service extracted correct date/total receipts)*100%

In [1]:
from PIL import Image
import pytesseract as pt
import glob
import re
from dateutil.parser import parse
import dateparser
from dateparser.search import search_dates
from datefinder import find_dates
pt.pytesseract.tesseract_cmd = 'C:/Program Files/Tesseract-OCR/tesseract.exe'
import cv2
import numpy as np
import pandas as pd

In [80]:
#img_paths = glob.glob('images/*')
# '2b931f74.jpeg'
img_str = pt.image_to_string('images/14.jpeg')

In [81]:
print(img_str)

nels -URA PLAZA
FROW 2.50 10 KH 220.06

ee FOR TOLL FEE

TRH 16:20109815880 SCHERE : SINGLE
UEH TYPE: CAR/JEEP/UVAN TOLL FARE:Rs.60

REG HO: 1620 USER ID:RAKE1117
LAWE 0:07 DATE:22/Ju1/2019 06:40
% Exetsericy Ho. +91-9309366001/1422231999 x

In [99]:
img_str = ll[3]

In [194]:
def spread(arg):
    ret = []
    for i in arg:
        if isinstance(i, list):
            ret.extend(i)
        else:
            ret.append(i)
    return ret

def deep_flatten(lst):
    result = []
    result.extend(spread(list(map(lambda x: deep_flatten(x) if type(x) == list else x, lst))))
    return result

In [254]:
z = [list(set(map(lambda x: x.strip(),img.split('\n')))) for img in ll]
newstr = set(deep_flatten(z))

In [255]:
# This result is the combination fo 4 inputs different images
newstr

{'',
 '"> DEVUATHAPLAZA  BNCLR &',
 '& GST 29ALBPS9132K12L',
 ', 4',
 ". . ' ‘.— Ve",
 '. 1 os 3ri>',
 '0 {rho ways Be ie.',
 '06ST 6 2.508 +',
 '160.00',
 '1PL',
 '2°. “GENESIS: FOODS: PLATTER',
 '4',
 '4 % if',
 '4PL',
 '<A ? AE Fe Sin',
 '=',
 'A Bae gra eS OR EE',
 'AL le',
 'ALCO ONIGN MEX',
 'AMOUNT',
 'ANN I cadet',
 'Ali >',
 'BEALL P',
 'BILL NO: 3067 DT: 22/05/19 13:59',
 'BILL NO: 3067 OT: 22/05/19 13:59',
 'BILL NOs 3067 DT: 22/05/19 13:59',
 'By',
 'C a : “Yee',
 'C6ST 3 2.50. :',
 'CHOLA BHATUSA',
 'DEUATHAPLAZA GNCLR',
 'DEVATHAPL ARCH BNGLR',
 'DEVATHAPLAZA BNOLR',
 'FOOD ITEM WITHIN 3 HOURS',
 'FOOD, ITEM WITHIN 3 HOURS',
 'GENESIS FOODS PLATTER',
 'GRAND TOTAL : 2',
 'GST & 2.50;',
 'GST 29ALBPS9132K12L',
 'GST 2SALBPS9132K12L',
 'Ht',
 'Mi Yd * “Ot te',
 'OF PACKAGE 4 DELIVERY',
 'OF PACKAGE DELIVERY',
 'PLEASE CONSUME ALL PACKED',
 'PLEASE CONSUME FLL PRED',
 'PLEASE: CONSUME: ALL. ‘',
 'PO Ce me eens A ra aa al a aT ime path iar',
 'PUK) EIEM',
 'Pew tt',
 'Ree eet',
 'S6ST 3 2.50:',
 'SA) eh',
 'SESS reas ee SS che eae pe',
 'SSeS =',
 'SUEET LASSI',
 'Se BG',
 'Sel',
 'Ses eek',
 'Sp a',
 'TAWA ALCO PUL AY',
 'TOTAL 6ST',
 'TOTAL GST.',
 'TPL 90.00',
 'TTEm: 5 /Qty. 10',
 'aa ee',
 'beg? 4',
 'bone, telere te ate" Aik hee',
 'ePL',
 'eS oa CERES fire rN',
 'ee',
 'ee er pon',
 'egal ys',
 'fotelets= Tee en ae :',
 'i',
 'if "',
 'ii',
 'oe',
 'ra',
 'rg TS See aT peg eg :',
 'sT/',
 'ser 62 aa:',
 'yt eng ete',
 '~',
 '~! eo W: nit',
 '¢,',
 '© OF PACKAGE + DELIVERY,',
 '—',
 '‘',
 '‘ A - 1 ‘4',
 '‘ Hah LAT SS',
 '’ 4',
 '’ LM p< 3',
 '“FOOD TTEN WITHIN',
 '“LASS'}

In [82]:
newstr = list(set(map(lambda x : x.strip(), img_str.split('\n'))))

In [83]:
newstr

['',
 'FROW 2.50 10 KH 220.06',
 '% Exetsericy Ho. +91-9309366001/1422231999 x',
 'LAWE 0:07 DATE:22/Ju1/2019 06:40',
 'nels -URA PLAZA',
 'TRH 16:20109815880 SCHERE : SINGLE',
 'UEH TYPE: CAR/JEEP/UVAN TOLL FARE:Rs.60',
 'ee FOR TOLL FEE',
 'REG HO: 1620 USER ID:RAKE1117']

In [6]:
# Raise this issue on Github
search_dates("In-Time:2019-07-04 16:34:06")

[('16:34:06', datetime.datetime(2019, 11, 24, 16, 34, 6))]

In [23]:
#### Dont use tags now

In [84]:
tags = []
for i in newstr:
    try:
        find_date = search_dates(i) 
    except:
        continue
    if find_date:
        for j in find_date:
            tags.append(j[0])

In [85]:
tags

['50 10', '220', '0:07', '06:40', 'FEE', '1620']

In [177]:
pattern1 = r"(\d{1,4}([.'’\-/])\d{1,2}([.'’\-/])\d{1,4})"
pattern2 = r"(\d{1,4}([.'’\-/\s])[ADFJMNOSadfjmnos]\w*([.'’\-/\s]*)\d{1,4})"
pattern3 = r"([ADFJMNOSadfjmnos]\w*\s\d{1,4}([,'’.\-/\s]*)([.'’\-/\s])\d{1,4})"
pattern4 = r"[ADFJMNOSadfjmnos]\w*\d{1,4}(['’]*)\d{1,4}"
pattern5 = r"(\d{1,4}([.'’\-/\s])\d{1,4}"

In [256]:
date_find = []

In [257]:
for i in newstr:
    for j in (re.search(regex,i) for regex in [pattern1, pattern2, pattern3, pattern4]):
        if j:
            s = j.group()
            
            if s.find('.'):
                date_find.append("-".join(s.split('.')))
            else:
                date_find.append(s)
            print('string: ',i,' sequence: ',s)

string:  & GST 29ALBPS9132K12L  sequence:  ALBPS9132K12
string:  S6ST 3 2.50:  sequence:  S6ST 3 2
string:  BILL NO: 3067 DT: 22/05/19 13:59  sequence:  22/05/19
string:  GST 29ALBPS9132K12L  sequence:  ALBPS9132K12
string:  GST 2SALBPS9132K12L  sequence:  SALBPS9132K12
string:  BILL NO: 3067 OT: 22/05/19 13:59  sequence:  22/05/19
string:  06ST 6 2.508 +  sequence:  ST 6 2
string:  C6ST 3 2.50. :  sequence:  ST 3 2
string:  . 1 os 3ri>  sequence:  1 os 3
string:  BILL NOs 3067 DT: 22/05/19 13:59  sequence:  22/05/19

In [258]:
date_find

['ALBPS9132K12',
 'S6ST 3 2',
 '22/05/19',
 'ALBPS9132K12',
 'SALBPS9132K12',
 '22/05/19',
 'ST 6 2',
 'ST 3 2',
 '1 os 3',
 '22/05/19']

In [259]:
date_find = list(set(date_find))

In [260]:
date_find

['SALBPS9132K12',
 'ST 6 2',
 'ST 3 2',
 'S6ST 3 2',
 'ALBPS9132K12',
 '22/05/19',
 '1 os 3']

In [261]:
dates = []

In [262]:
for i in date_find:
    try:
        print(i," :: ",parse(i).strftime("%Y-%m-%d"))
        dates.append(parse(i).strftime("%Y-%m-%d"))        
    except:
        continue

ST 6 2  ::  2019-06-02
ST 3 2  ::  2019-03-02
22/05/19  ::  2019-05-22

In [263]:
dates

['2019-06-02', '2019-03-02', '2019-05-22']

In [264]:
dates = []

In [265]:
for i in date_find:
    try:
        print(i ,' :: ', search_dates(i)[0][1].strftime("%Y-%m-%d"))
        dates.append(search_dates(i)[0][1].strftime("%Y-%m-%d"))
    except:
        continue

ST 6 2  ::  2019-06-02
ST 3 2  ::  2019-03-02
22/05/19  ::  2019-05-22
1 os 3  ::  2019-03-24

In [220]:
dates = set(dates)
dates

{'1766-11-24',
 '2000-05-24',
 '2019-04-06',
 '2019-05-29',
 '2019-06-28',
 '2019-07-02',
 '2019-07-19',
 '2019-08-24',
 '2019-11-24',
 '2019-12-06',
 '2022-02-04',
 '2038-05-24',
 '2039-01-24',
 '2045-06-24'}

In [221]:
new_dates = []
for i in dates:
    if 2000 < int(i[:4]) < 2021:
        new_dates.append(i)
new_dates

['2019-12-06',
 '2019-07-02',
 '2019-06-28',
 '2019-11-24',
 '2019-05-29',
 '2019-07-19',
 '2019-04-06',
 '2019-08-24']

In [126]:
if dates:
    print(min(dates))

0220-06-24

In [127]:
import datetime

In [128]:
datetime.datetime.strptime("0220-06-24", "%Y-%m-%d")

datetime.datetime(220, 6, 24, 0, 0)

In [152]:
def validate(date_text):
    try:
        if date_text != datetime.datetime.strptime(date_text, "%Y-%m-%d").strftime('%Y-%m-%d'):
            raise ValueError
        return True
    except ValueError:
        return False

In [156]:
validate("0220-06-24")

True

In [ ]:
import pandas as pd

In [ ]:
raw = pd.read_csv('image_data.csv',header = None)
raw.index = pd.RangeIndex(1,101,1)

In [ ]:
raw.isna().sum()

In [ ]:
raw.head()

In [ ]:
# updating with dates
for i in raw.iloc[:,0].dropna().index: 
    if search_dates(raw.loc[i,0]):
        raw.loc[i,1]= search_dates(raw.loc[i,0])[0][1].strftime("%Y-%m-%d")

In [ ]:
raw.columns = ['actual','converted']

In [ ]:
raw.head()

In [92]:
def preprocessing(img_str):
    newstr = list(set(map(lambda x : x.strip(), img_str.split('\n'))))
    tags = []
    for i in newstr:
        try:
            find_date = search_dates(i) 
        except:
            continue
        if find_date:
            for j in find_date:
                tags.append(j[0])

    pattern1 = r"(\d{1,4}([.'’\-/])\d{1,2}([.'’\-/])\d{1,4})"
    pattern2 = r"(\d{1,4}([.'’\-/\s])[ADFJMNOSadfjmnos]\w*([.'’\-/\s]*)\d{1,4})"
    pattern3 = r"([ADFJMNOSadfjmnos]\w*\s\d{1,4}([,'’.\-/\s]*)([.'’\-/\s])\d{1,4})"
    pattern4 = r"[ADFJMNOSadfjmnos]\w*\d{1,4}(['’]*)\d{1,4}"
    pattern5 = r"(\d{1,4}([.'’\-/\s])\d{1,4}"
    
    date_find = []

    for i in tags:
        for j in (re.search(regex,i) for regex in [pattern1, pattern2, pattern3, pattern4]):
            if j:
                s = j.group()
                if s.find('.'):
                    date_find.append("-".join(s.split('.')))
                else:
                    date_find.append(s)

    date_find = list(set(date_find))

    dates = {}
    for i in date_find:
        try:
            dates[i] = search_dates(i)[0][1].strftime("%Y-%m-%d")
        except:
            continue
    print(dates)
    if dates:
        #print(min(dates.values()))
        return min(dates.values())
    return None

In [97]:
preprocessing(ll[])

IndexError: list index out of range

In [ ]:
raw = pd.read_csv('image_data.csv')

In [ ]:
raw['predicted_2'] = None

In [ ]:
raw.head()

In [ ]:
raw.head()

In [ ]:
for i in raw.index:
    path = "images/" + str(i) + ".jpeg"
    print(i,end=' : ')
    date = preprocessing(path)
    raw.loc[i,'predicted_2'] = date

In [ ]:
raw.to_csv('image_data.csv')

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
(raw.converted == raw.predicted_2).value_counts()

In [ ]:
(raw.converted == raw.predicted).value_counts()

# 35% accuracy on intial attempt

In [97]:
def globalpreprocess(path):
    
    img_str_1 = pt.image_to_string(path, lang='eng')
    
    gaussian_filter = (5,5)
    img = cv2.imread(path) 
    img = cv2.resize(img, None, fx=2, fy=2, interpolation=cv2.INTER_CUBIC) 
    img_gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    img_blur = cv2.GaussianBlur(img_gray, gaussian_filter, 0)
    img_str_2 = pt.image_to_string(Image.fromarray(img_blur),lang ="eng")
    
    kernel = np.ones((1, 1), np.uint8)
    img_dilate = cv2.dilate(img_gray, kernel, iterations=1)
    img_erode = cv2.erode(img_dilate, kernel, iterations=1)
    img_gauss = cv2.GaussianBlur(img_erode, gaussian_filter, 0)
    img_ad_thres = cv2.adaptiveThreshold(img_gauss, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 31, 2)
    img_str_3 = pt.image_to_string(Image.fromarray(img_ad_thres),lang='eng')

    ret,th1 = cv2.threshold(img_gauss, 100, 225, cv2.THRESH_BINARY)
    img_str_4 = pt.image_to_string(Image.fromarray(th1), lang = 'eng')

    return [img_str_1,img_str_2,img_str_3,img_str_4]

In [249]:
path = 'images/52.jpeg'
ll = globalpreprocess(path)

In [253]:
print(ll[3])

GENESIS FOODS PLATTER

DEVATHAPL ARCH BNGLR

GST 2SALBPS9132K12L
BILL NO: 3067 DT: 22/05/19 13:59

ALCO ONIGN MEX

ePL
CHOLA BHATUSA

TPL 90.00
TAWA ALCO PUL AY
1PL

160.00
SUEET LASSI

4PL
PUK) EIEM

TTEm: 5 /Qty. 10
AMOUNT

S6ST 3 2.50:
C6ST 3 2.50. :
TOTAL 6ST

PLEASE CONSUME FLL PRED
FOOD ITEM WITHIN 3 HOURS
OF PACKAGE DELIVERY

In [44]:
raw = pd.read_csv('image_data.csv')

In [45]:
raw.head()

   Unnamed: 0        actual   converted   predicted
0           1  May 21, 2019  2019-05-21         NaN
1           2      25-07-19  2019-07-25  2019-07-25
2           3  Sep 29, 2018  2018-09-29         NaN
3           4     Oct06' 16  2016-10-06         NaN
4           5     5/29/2019  2019-05-29  2019-05-29

In [49]:
raw.actual.notna().sum()

86

In [53]:
raw.head(20)

    Unnamed: 0        actual   converted   predicted
0            1  May 21, 2019  2019-05-21         NaN
1            2      25-07-19  2019-07-25  2019-07-25
2            3  Sep 29, 2018  2018-09-29         NaN
3            4     Oct06' 16  2016-10-06         NaN
4            5     5/29/2019  2019-05-29  2019-05-29
5            6     03-Jul-19  2019-07-03  2019-07-03
6            7           NaN         NaN         NaN
7            8      23-05-19  2019-05-23         NaN
8            9      07-01-19  2019-07-01         NaN
9           10      22-05-19  2019-05-22         NaN
10          11    07/17/2019  2019-07-17  2019-07-17
11          12      07-02-19  2019-07-02  2019-07-02
12          13      02-08-15  2015-02-08         NaN
13          14     22-Jul-19  2019-07-22         NaN
14          15    07/22/2019  2019-07-22         NaN
15          16      06-07-19  2019-06-07         NaN
16          17     5/24/2019  2019-05-24         NaN
17          18       4/15/16  2016-04-15         NaN
18          19      20-07-19  2019-07-20         NaN
19          20     5/20/2019  2019-05-20         NaN

In [58]:
for j,i in enumerate(raw.actual[raw.actual.notnull()]):
    print(j,parse(i))

0 2019-05-21 00:00:00
1 2019-07-25 00:00:00
2 2018-09-29 00:00:00
3 2016-10-06 00:00:00
4 2019-05-29 00:00:00
5 2019-07-03 00:00:00
6 2019-05-23 00:00:00
7 2019-07-01 00:00:00
8 2019-05-22 00:00:00
9 2019-07-17 00:00:00
10 2019-07-02 00:00:00
11 2015-02-08 00:00:00
12 2019-07-22 00:00:00
13 2019-07-22 00:00:00
14 2019-06-07 00:00:00
15 2019-05-24 00:00:00
16 2016-04-15 00:00:00
17 2019-07-20 00:00:00
18 2019-05-20 00:00:00
19 2019-05-29 00:00:00
20 2019-05-22 00:00:00
21 2019-05-07 00:00:00
22 2019-06-18 00:00:00
23 2019-06-28 00:00:00
24 2019-06-03 00:00:00
25 2019-06-20 00:00:00
26 2019-04-10 00:00:00
27 2019-06-07 00:00:00
28 2019-06-28 00:00:00
29 2019-04-30 00:00:00
30 2019-07-25 00:00:00
31 2017-03-10 00:00:00
32 2019-06-08 00:00:00
33 2019-07-14 00:00:00
34 2018-06-30 00:00:00
35 2019-06-27 00:00:00
36 2019-06-25 00:00:00
37 2016-11-24 00:00:00
38 2019-06-19 00:00:00
39 2019-06-20 00:00:00
40 2019-05-19 00:00:00
41 2019-05-18 00:00:00
42 2014-05-22 00:00:00
43 2017-10-01 00:00:00
44 2015-08-22 00:00:00
45 2019-08-09 00:00:00
46 2019-06-27 00:00:00
47 2019-05-22 00:00:00
48 2019-06-01 00:00:00
49 2019-06-09 00:00:00
50 2019-07-06 00:00:00
51 2018-10-20 00:00:00
52 2018-02-17 00:00:00
53 2019-06-24 00:00:00
54 2019-06-06 00:00:00
55 2019-06-01 00:00:00
56 2019-04-07 00:00:00
57 2018-08-17 00:00:00
58 2019-06-01 00:00:00
59 2019-06-26 00:00:00
60 2019-06-14 00:00:00
61 2019-06-25 00:00:00
62 2019-06-19 00:00:00
63 2019-11-07 00:00:00
64 2019-04-08 00:00:00
65 2019-07-01 00:00:00
66 2019-06-17 00:00:00
67 2019-06-29 00:00:00
68 2019-05-24 00:00:00
69 2019-03-02 00:00:00
70 2018-03-18 00:00:00
71 2019-07-24 00:00:00
72 2016-05-26 00:00:00
73 2019-06-29 00:00:00
74 2019-05-17 00:00:00
75 2019-07-01 00:00:00
76 2019-06-15 00:00:00
77 2019-06-13 00:00:00
78 2019-08-30 00:00:00
79 2019-06-04 00:00:00
80 2015-04-25 00:00:00
81 2019-07-02 00:00:00
82 2019-06-15 00:00:00
83 2019-07-02 00:00:00
84 2017-12-02 00:00:00
85 2019-07-18 00:00:00