Build a RESTful service that extracts expense date from a receipt. Please feel free to use any language and framework of your choice. Deploy the service on any cloud platform like Heroku/AWS/GCP. The service should contain one API which has the following contract:

Request:
POST /extract_date

Payload:
{“base_64_image_content”: <base_64_image_content>}

Response:
If date is present:
{“date”: “YYYY-MM-DD”}
If date is not present:
{“date”: null}

Calculate the accuracy of the service against the sample receipts dataset given. This can be calculated as follows:

accuracy = (number of receipts for which the service extracted correct date/total receipts)*100%

In [10]:
from PIL import Image
import pytesseract as pt
import glob
import re
from dateutil.parser import parse
import dateparser
from dateparser.search import search_dates
from datefinder import find_dates
pt.pytesseract.tesseract_cmd = 'C:/Program Files/Tesseract-OCR/tesseract.exe'
import cv2

In [ ]:
#img_paths = glob.glob('images/*')
# '2b931f74.jpeg'
img_str = pt.image_to_string('images/91.jpeg')

In [ ]:
print(img_str)

In [ ]:
newstr = list(set(map(lambda x : x.strip(), img_str.split('\n'))))

In [ ]:
newstr

In [ ]:
newstr2 = []
for i in newstr: # create bag of words
    newstr2.extend(i.split())
newstr3 = []
for i in newstr2:
    if i.isalnum():
        continue
    else:
        newstr3.append(i)

In [ ]:
newstr3

In [ ]:
newstr = newstr3

In [ ]:
tags = []
for i in newstr:
    try:
        find_date = search_dates(i) 
    except:
        continue
    if find_date:
        for j in find_date:
            tags.append(j[0])

In [ ]:
pattern1 = r"(\d{1,4}([.'’\-/])\d{1,2}([.'’\-/])\d{1,4})"
pattern2 = r"(\d{1,4}([.'’\-/\s])[ADFJMNOSadfjmnos]\w*([.'’\-/\s])\d{1,4})"
pattern3 = r"([ADFJMNOSadfjmnos]\w*\s\d{1,4}([,'’.\-/\s]*)([.'’\-/\s])\d{1,4})"
pattern4 = r"[ADFJMNOSadfjmnos]\w*\d{1,4}(['’]*)\d{1,4}"
pattern5 = r"(\d{1,4}([.'’\-/\s])\d{1,4}"

In [ ]:
date_find = []

In [ ]:
for i in tags:
    for j in (re.search(regex,i) for regex in [pattern1, pattern2, pattern3, pattern4]):
        if j:
            s = j.group()
            
            if s.find('.'):
                date_find.append("-".join(s.split('.')))
            else:
                date_find.append(s)
            print('i: ',i,' s: ',s)

In [ ]:
date_find

In [ ]:
date_find = list(set(date_find))

In [ ]:
dates = {}
for i in date_find:
    dates[i] = search_dates(i)[0][1].strftime("%Y-%m-%d")

In [ ]:
dates

In [ ]:
if dates:
    print(min(dates.values()))

In [1]:
import pandas as pd

In [5]:
raw = pd.read_csv('image_data.csv',header = None)
raw.index = pd.RangeIndex(1,101,1)

In [6]:
raw.isna().sum()

0    14
1    99
dtype: int64

In [16]:
raw.head()

              0       1
1  May 21, 2019     NaN
2      25-07-19  girraj
3  Sep 29, 2018     NaN
4     Oct06' 16     NaN
5     5/29/2019     NaN

In [61]:
for i in raw.iloc[:,0].dropna().index: 
    if search_dates(raw.loc[i,0]):
        raw.loc[i,1]= search_dates(raw.loc[i,0])[0][1].strftime("%Y-%m-%d")

              0           1
1  May 21, 2019  2019-05-21
2      25-07-19  2019-07-25
3  Sep 29, 2018  2018-09-29
4     Oct06' 16  2016-10-06
5     5/29/2019  2019-05-29

In [63]:
raw.columns = ['actual','converted']

In [64]:
raw.head()

         actual   converted
1  May 21, 2019  2019-05-21
2      25-07-19  2019-07-25
3  Sep 29, 2018  2018-09-29
4     Oct06' 16  2016-10-06
5     5/29/2019  2019-05-29

In [ ]:
def preprocessing():